<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css"
        integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"
        integrity="sha512-43iShtbiyImxjjU4a9rhXBy7eKtIsrpll8xKhe1ghKqh5NyfME8phZs5JRFZpRBe1si44WM3tNmnqMym7JRmDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"
        integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand fs-1"><i class="fa fa-user m-2 pe-4"></i>User Authentication System</a>

            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="navbar-toggler-icon"><span
                    class="navbar-toggler-icon"></span></button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto ">
                    <li class="navbar-item ">
                        <a class="nav-link" href="/user"><i class="fa fa-home px-3"></i> <b>Home<%= user.length %></b></a>
                    </li>

                    <li class="navbar-item ">
                        <a class="nav-link" href="/login"><i class="fa fa-sign-in-alt px-3"></i><b>Login</b> </a>
                    </li>
                    <li class="navbar-item ">
                        <a class="nav-link" href="/secret"><i class="fa fa-lock px-3"></i><b>secret</b> </a>
                    </li>
                    <li class="navbar-item ">
                        <a class="nav-link" href="/Register"><i class="fa fa-registered px-3"></i><b> Register</b></a>
                    </li>
                    <li class="navbar-item ">
                        <a class="nav-link" href="/"><i class="fa fa-hand-point-left px-3"></i><b> Index</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </navbar>
    <section class="UserData pt-5">
        <div class="container p-4">
            <h1 class="text-center pt-1">User Data</h1>
            <table class="table bg-info ">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">E-mail</th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let b of user) {%>
                        <tr>
                            <th scope="row">
                                <%= b._id %>
                            </th>
                            <td>
                                <%= b.firstName %>
                            </td>
                            <td>
                                <%= b.lastName %>
                            </td>
                            <td>
                                <%= b.email %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

    </section>
    <footer class="copyright text-center bg-danger py-4">
        <div class="container">
          <p class="text-light">© Copyright 2023 by vipin nagar</p>
        </div>
      </footer>

</body>

</html>